/*  
TODO
    1. Sizing
    2. Alignment 
*/

.comment {
    display: flex;
    flex-flow: row nowrap;
    float: right;
    
    max-height: fit-content;
    
    margin-top: 1px;
    padding: 10px 5px 15px 10px;
    
    background: #e5e5e5;
    overflow-y: hidden;

    box-shadow: -5px 0px #8D8D8D;
}

.comment p {
    display: flex;
    flex-flow: row wrap;

    margin: 0;
    padding: 0 0 0 10px;
}

.buttonContainer {
    width: 3em;
    height: 3em;

    /* Dev */
    /* border: 1px dotted red; */
}

.contentContainer {
    display: block;
}

.credentials {
    display: flex;
    flex-flow: col wrap;
    position: relative;
    font-size: 14px;
}

.author {
    color: rgba(0, 0, 0, 0.5);
}


.created {
    font-style: italic;
    color: rgba(0, 0, 0, 0.33);
}